.chat-content-footer{
    height: 60px;
    width: 100%;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
}

.chat-content-footer-items {
    width: 100%;
    padding: 5px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-content-footer-input-message {
    width: 100%;
    padding: 9px 12px;
    outline: none;
    border: 1px;
    border-radius: 8px;
    border-color: #f0f2f5;
}

.chat-content-footer-items > span {
    padding: 8px;
}

.chat-content-footer-input-message-container {
    width: 100%;
    margin: 5px 8px;
}
