.home-container {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.home-chat-list-container {
    min-width: 450px;
}

.home-chat-content-container {
    width: 100%;
}

.home-container, .home-chat-list-container, .home-chat-content-container {
    height: 100%;
}

@media (max-width: 768px) {
    .home-chat-list-container {
        min-width: 350px;
    }
}