.background-green {
    background-color: #d9fdd3;
}

.background-white {
    background-color: #fff;
}

.message-container {
    padding: 6px 7px 8px 9px;
    margin-bottom: 3px;
    border-radius: 8px;
}

.message-time {
    font-size: 11px;
    margin-left: 6px;
    margin-top: 6px;
}

.to-right {
    justify-self: end;
}

.to-left {
    justify-self: start;
}